/*estilizado conforme google material design*/
:root {
    --primary-color: #0064b6; 
    --secondary-color: #FF0000; 
    --background-color: #F5F5F5; 
    --surface-color: #FFFFFF; 
    --text-color: #212121;
    --light-text-color: #757575;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--surface-color);
    text-align: center;
    padding: 2.5rem 1rem;
    box-shadow: 0 4px 8px var(--shadow-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;

}


main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background-color: var(--surface-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    margin-bottom: 2rem;
}

/* Estilo para os "cards" de promoção */
.card {
    background-color: var(--surface-color);
    padding: 1.5rem;
    border-left: 5px solid var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--shadow-color);
    margin-bottom: 1.5rem;
}

.card p {
    margin: 0 0 1rem 0;
}

.card p:last-child {
    margin-bottom: 0;
}

/* Estilos de texto */
p {
    font-size: 1rem;
    color: var(--light-text-color);
}

b {
    font-weight: 700;
    color: var(--primary-color); /* Realça as palavras em negrito */
}

/* Estilo para o menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 0 0; /* Espaço do h2 */
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espaçamento entre os itens do menu */
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
}

nav ul li a {
    color: var(--surface-color);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a.pagina-atual{
    color:  var(--primary-color);
    background-color:  var(--surface-color);
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 3. RESPONSIVIDADE (para telas menores) */
@media (max-width: 600px) {
    header {
        padding: 2rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    main {
        margin: 1rem auto;
    }

    section {
        padding: 1.5rem;
    }

    .promocao {
        padding: 1rem;
    }

}

